@using System.Data
@model BelagricolaQ4Client.Models.ClienteContato
@{
    ViewData["Title"] = "Create Relação Cliente-Contato";
}
@Html.Raw(TempData["msg"])


<div class="text-center">
    <h1 class="display-4">Criar Relação Cliente-Contato</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateClienteContato" asp-controller="ClienteContato">
            <div class="form-group">
                <label asp-for="ClienteCodigo" class="control-label"></label>
                <input asp-for="ClienteCodigo" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ContatoCodigo" class="control-label"></label>
                <input asp-for="ContatoCodigo" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="TipoRelacionamento" class="control-label"></label>
                <input asp-for="TipoRelacionamento" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


