html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
ul li ul {
    padding-left:0px;
    position: absolute;
    background-color: #fff;
    display: none;
}

ul li:hover ul, ul li.over ul {
    display: block;
}

ul li ul li {
    border: 1px solid #c0c0c0;
    display: block;
    width: 150px;
}
